<aside class="sidebar shadow-sm">
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div>
  <nav class="sidebar-menu pt-3 pb-3">
    <ul class="menu-items">
      <li >
        <a href="#">
          <i class="fa fa-tv"></i>
          <span>User</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-gem"></i>
          <span>Order</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/product" routerLinkActive="active">
          <i class="fa fa-table"></i>
          <span>Product</span>
        </a>
      </li>
    </ul> 
  </nav>
</aside>